head
	meta(charset='utf-8')
	meta(content='IE=edge', http-equiv='X-UA-Compatible')
	title Polymer Workflow

	meta(content='', name='description')
	meta(content='', name='keywords')
	meta(content='width=device-width, initial-scale=1', name='viewport')
	link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
	link(href='assets/stylesheet/style.css', rel='stylesheet')
	
	//script(src="bower_components/webcomponentsjs/webcomponents.js")
	script(src="bower_components/polymer/polymer.min.js")