doctype html
html
	head
	include partials/header
	body(unresolved)
		include partials/components
		h1 Hello Polymer!
		<!-- Use element -->
		my-element
		my-counter(counter="10") Points
		include partials/javascript